<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>whiteSmoke</key>
		<string>#F5F5F5</string>
		<key>dimBlack</key>
		<string>#fff</string>
		<key>textColor</key>
		<string>#000</string>
		<key>backgroundColor</key>
		<string>#fff</string>
		<key>tabbarTintColor</key>
		<string>#fff</string>
		<key>navigationBarTintColor</key>
		<string>#fff</string>
	</dict>
	<key>images</key>
	<dict>
		<key>common_Icon_Recommend_10x10</key>
		<string>common_Icon_Recommend_10x10</string>
		<key>common_Button_XinWen_Selected</key>
		<string>common_Button_XinWen_Selected_UIMode_Day</string>
		<key>common_Button_XinWen</key>
		<string>common_Button_XinWen_UIMode_Day</string>
	</dict>
</dict>
</plist>
