<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>总榜</string>
		<key>searchid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>第一人称射击</string>
		<key>searchid</key>
		<integer>20066</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>第三人称射击</string>
		<key>searchid</key>
		<integer>20064</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>动作游戏</string>
		<key>searchid</key>
		<integer>20042</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>角色扮演</string>
		<key>searchid</key>
		<integer>20050</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>动作角色扮演</string>
		<key>searchid</key>
		<integer>20052</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>竞速游戏</string>
		<key>searchid</key>
		<integer>20043</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>即时战略</string>
		<key>searchid</key>
		<integer>20047</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>策略游戏</string>
		<key>searchid</key>
		<integer>20046</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>冒险游戏</string>
		<key>searchid</key>
		<integer>20053</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>体育游戏</string>
		<key>searchid</key>
		<integer>20045</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>模拟游戏</string>
		<key>searchid</key>
		<integer>20062</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>格斗游戏</string>
		<key>searchid</key>
		<integer>20061</integer>
	</dict>
</array>
</plist>
