<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>backgroundColor</key>
		<string>#01040D</string>
		<key>tabbarTintColor</key>
		<string>#01040D</string>
		<key>navigationBarTintColor</key>
		<string>#01040D</string>
	</dict>
	<key>images</key>
	<dict>
		<key>common_Button_XinWen_Selected</key>
		<string>common_Button_XinWen_Selected_UIMode_Night</string>
		<key>common_Button_XinWen</key>
		<string>common_Button_XinWen_UIMode_Night</string>
	</dict>
</dict>
</plist>
