<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>全部类型</string>
			<key>id</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>第一人称射击</string>
			<key>id</key>
			<integer>20066</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>第三人称射击</string>
			<key>id</key>
			<integer>20064</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>动作游戏</string>
			<key>id</key>
			<integer>20042</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>角色扮演</string>
			<key>id</key>
			<integer>20050</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>动作角色扮演</string>
			<key>id</key>
			<integer>20052</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>竞速游戏</string>
			<key>id</key>
			<integer>20043</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>即时战略</string>
			<key>id</key>
			<integer>20047</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>策略游戏</string>
			<key>id</key>
			<integer>20046</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>冒险游戏</string>
			<key>id</key>
			<integer>20053</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>体育游戏</string>
			<key>id</key>
			<integer>20045</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>模拟游戏</string>
			<key>id</key>
			<integer>20062</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>格斗游戏</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>全部平台</string>
			<key>id</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>PC</string>
			<key>id</key>
			<integer>20066</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>PS4</string>
			<key>id</key>
			<integer>20064</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Xbox one</string>
			<key>id</key>
			<integer>20042</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Xbox 360</string>
			<key>id</key>
			<integer>20050</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>PS3</string>
			<key>id</key>
			<integer>20052</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Switch</string>
			<key>id</key>
			<integer>20043</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Wii U</string>
			<key>id</key>
			<integer>20047</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>PS Vita</string>
			<key>id</key>
			<integer>20046</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>3DS</string>
			<key>id</key>
			<integer>20053</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>iOS</string>
			<key>id</key>
			<integer>20045</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Android</string>
			<key>id</key>
			<integer>20062</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>上市时间</string>
			<key>id</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>2018</string>
			<key>id</key>
			<integer>20066</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>2017</string>
			<key>id</key>
			<integer>20064</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>2016</string>
			<key>id</key>
			<integer>20042</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>2015</string>
			<key>id</key>
			<integer>20050</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>2014</string>
			<key>id</key>
			<integer>20052</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>2013</string>
			<key>id</key>
			<integer>20043</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>2012</string>
			<key>id</key>
			<integer>20047</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>2011</string>
			<key>id</key>
			<integer>20046</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>2010</string>
			<key>id</key>
			<integer>20053</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>2009</string>
			<key>id</key>
			<integer>20045</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>2008</string>
			<key>id</key>
			<integer>20062</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>2007</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>2006</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>2005</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>2004</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>2003</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>更早</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>制作厂商</string>
			<key>id</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>2k Games</string>
			<key>id</key>
			<integer>20066</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>505 Games</string>
			<key>id</key>
			<integer>20064</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>雅达利</string>
			<key>id</key>
			<integer>20042</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>动视</string>
			<key>id</key>
			<integer>20050</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Atlus</string>
			<key>id</key>
			<integer>20052</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Bethesda</string>
			<key>id</key>
			<integer>20043</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>BioWare</string>
			<key>id</key>
			<integer>20047</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>暴雪</string>
			<key>id</key>
			<integer>20046</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Codemasters</string>
			<key>id</key>
			<integer>20053</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>City Interactive</string>
			<key>id</key>
			<integer>20045</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>CD Projekt</string>
			<key>id</key>
			<integer>20062</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Deep Sliver</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>迪士尼</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>EA</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Epic</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Eidos</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Konami</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>LucasArts</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Level 5</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>微软</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Namco Bandai</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>NCsof</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Nexon</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Nintendo</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Paradox</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Rockstar</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>索尼</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>世嘉</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>史克威尔艾尼克斯</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>THQ</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>育碧</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Value</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>华纳兄弟</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>KOEI TECMO</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Falcom</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>百游</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>GameBar</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>腾讯游戏</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>盛大游戏</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>网易游戏</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>完美世界</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>巨人网络</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>世纪天成</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>第九城市</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>金山游戏</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>搜狐畅游</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>官方中文</string>
			<key>id</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>支持</string>
			<key>id</key>
			<integer>20066</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>不支持</string>
			<key>id</key>
			<integer>20064</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>全部标签</string>
			<key>id</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>国产</string>
			<key>id</key>
			<integer>20066</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>独立游戏</string>
			<key>id</key>
			<integer>20064</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>硬件杀手</string>
			<key>id</key>
			<integer>20042</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>二战</string>
			<key>id</key>
			<integer>20050</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>现代战争</string>
			<key>id</key>
			<integer>20052</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>未来战争</string>
			<key>id</key>
			<integer>20043</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>丧尸</string>
			<key>id</key>
			<integer>20047</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>科幻</string>
			<key>id</key>
			<integer>20046</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>奇幻</string>
			<key>id</key>
			<integer>20053</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>恐怖</string>
			<key>id</key>
			<integer>20045</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>末世</string>
			<key>id</key>
			<integer>20062</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>剑侠</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>漫画英雄</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>赛博朋克</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>蒸汽朋克</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>回合制</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>横版卷轴</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>潜入暗杀</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>改编</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>忍者</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>吸血鬼</string>
			<key>id</key>
			<integer>20061</integer>
		</dict>
	</array>
</array>
</plist>
